.grid {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    height: 300px;
    border: solid black;
}
  
.grid div {
    width: 30px;
    height: 30px;
}

.pac-dot {
    background-color: lightgreen;   
    border: 5px solid white;
	border-radius: 10px;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.treasure {
    background-color:lightsalmon;
    border-radius: 10px;
}

.ghost {
	background-color: red;
	border-radius: 10px;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

#start, #button{
    padding: .5em;
    margin: .5em;
    color:gold;
    font-size: 20px;
}

h1{
    color: gold;
    text-shadow: 2px -2px goldenrod;
    font-size: 45px;
}

#button {
	visibility: hidden;
}

p{
    color:gold;
    font-size: 20px;
}