.grid {
    display: flex;
    flex-wrap: wrap;
    width: 390px;
    height: 300px;
    border: solid black;
}
  
.grid div {
    width: 30px;
    height: 30px;
}

.pac-dot {
    background-color: lightgreen;   
    border: 5px solid white;
	border-radius: 10px;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.treasure {
    background-color: orangered;
    border-radius: 10px;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;
}

<<<<<<< HEAD
#start{
    padding: .5em;
    margin: .5em;
}

h1{
    color: gold;
}
=======
.ghost {
	background-color: red;
	border-radius: 10px;
}

button {
	visibility: hidden;
}
>>>>>>> 01470a038b86d2a0fd105406b0e3f3c508c55687
